<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- JSP Configuration -->
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.eclipse.jetty.jsp.JettyJspServlet</servlet-class>
        <init-param>
            <param-name>org.eclipse.jetty.servlet.Default.dirAllowed</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>

</web-app>
